# IDE
.idea/
.DS_Store
*/.ipynb_checkpoints

# Data directory.
data/test/**/*.png
data/test/**/*.bin
data/results/**/*.bin
data/results/**/*.png
data/zju-mocap/CoreView_*

# build directory
cmake-build-debug/
cmake-build-release/

# third party
thirdparty/eigen-3.4.0/